# 01 - Exploración inicial de datos

##Descripción del dataset

Los datos provienen del Observatorio de Movilidad de Bogotá y fueron obtenidos de la Secretaría Distrital de Movilidad. El conjunto es de acceso público y contiene información sobre los siniestros viales ocurridos en las 20 localidades de la ciudad durante el año 2023.

El dataset original corresponde a un archivo de Excel (aprox. 14 MB) que registra un total de 14.106 siniestros viales. La información se encuentra organizada en tres tablas principales:

- **Siniestros:** Contiene la información general de cada accidente, incluyendo código de identificación, fecha, hora y ubicación.
- **Vehículos:** Incluye las características de los vehículos involucrados en cada siniestro.
- **Actor_vial:** Registra información sobre las personas implicadas, sus roles y condiciones.

El conjunto incluye tanto variables numéricas como categóricas, así como múltiples campos binarios relacionados con condiciones específicas del evento.

El diccionario de datos original se encuentra disponible dentro del repositorio en la carpeta `data/raw`.

## Importación de librerías

In [1]:
import pandas as pd

##Carga de datos

In [3]:
#importar datos
ruta ="https://raw.githubusercontent.com/Josemena95/data-portfolio/refs/heads/main/etl-traffic-accidents-bogota-2023/data/raw/SIGAT_ANUARIO_2023.xlsx"

siniestros = pd.read_excel(ruta)
vehiculos = pd.read_excel(ruta, sheet_name="Vehiculos")
actores = pd.read_excel(ruta, sheet_name="Actor_vial")

Nota: Los datos se cargan desde el repositorio en GitHub para permitir la ejecución directa en Google Colab.

##Muestra inicial

In [8]:
siniestros.head()

,Codigo_Accidente,Formulario,Longitud,Latitud,Direccion,Fecha_Acc,AA_Acc,MM_Acc,DD_Mes_Acc,Dia_Semana_Acc,...,Con_Velocidad,Con_Sitp,Con_Troncal,Con_Alimentador,Con_Zonal,Con_Provisional,Con_Articulado,Con_Biarticulado,Con_Padron_Dual,Con_Trans_Public
0,10591851,A001571139,-74.162129,4.599679,AV AVENIDA CIUDAD DE VILLAVICENCIO - CL 57 B S 02,2023-05-26,2023,Mayo,26,viernes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SI
1,10591854,A001571298,-74.158336,4.570567,KR 44 D - DG 69 K S 02,2023-05-31,2023,Mayo,31,miércoles,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO
2,10592149,A001570489,-74.079035,4.623901,CL 26 - KR 25 02,2023-06-08,2023,Junio,8,jueves,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO
3,10592358,A001572190,-74.077354,4.590091,CL 6 - KR 5 02,2023-06-14,2023,Junio,14,miércoles,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SI
4,10592361,A001570128,-74.029972,4.763974,CL 187 A - KR 8 C 02,2023-06-14,2023,Junio,14,miércoles,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SI

In [9]:
vehiculos.head()

,Codigo_Accidente,Formulario,Fecha_Acc,AA_Acc,Codigo_Vehiculo,Clase,Servicio,Modalidad,Vehiculo_Viajaba_Clasificado,Tipo_SITP,...,Con_Tpp,Con_Velocidad,Con_Sitp,Con_Troncal,Con_Alimentador,Con_Zonal,Con_Provisional,Con_Articulado,Con_Biarticulado,Con_Padron_Dual
0,10602173,A001604925,2023-11-22,2023,1,Bus,Publico,NaN,TRANSPORTE DE PASAJEROS,ZONAL,...,SI,NaN,SI,NaN,NaN,SI,NaN,NaN,NaN,NaN
1,10602475,A001613821,2023-10-26,2023,1,Campero,Particular,NaN,LIVIANO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10602483,A001574236,2023-09-29,2023,1,Motocicleta,Particular,NaN,MOTOCICLETA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10602483,A001574236,2023-09-29,2023,2,Automovil,Particular,NaN,LIVIANO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10587615,A001566854,2023-02-14,2023,2,Automovil,Particular,NaN,LIVIANO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
actores.head()

,Codigo_Accidentado,Codigo_Accidente,Formulario,Codigo_Vehiculo,Ccodigo_Victima,FechaAcc,AnnoAcc,mesAcc,DD_Mes_Acc,Dia_Semana_Acc,...,Con_Tpp,Con_Velocidad,Con_Sitp,Con_Troncal,Con_Alimentador,Con_Zonal,Con_Provisional,Con_Articulado,Con_Biarticulado,Con_Padron_Dual
0,12874170,10596253,A001576573,1,0,2023-09-23,2023,Septiembre,23,sábado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12874172,10596253,A001576573,2,1,2023-09-23,2023,Septiembre,23,sábado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12874174,10596254,A001576072,1,0,2023-09-20,2023,Septiembre,20,miércoles,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12874177,10596254,A001576072,2,2,2023-09-20,2023,Septiembre,20,miércoles,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12874175,10596254,A001576072,2,1,2023-09-20,2023,Septiembre,20,miércoles,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Dimensiones

In [11]:

siniestros.shape

(14106, 40)

In [12]:
vehiculos.shape

(24403, 30)

In [13]:
actores.shape

(33542, 42)

## Información

In [14]:
siniestros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14106 entries, 0 to 14105
Data columns (total 40 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Codigo_Accidente                14106 non-null  int64
 1   Formulario                      14106 non-null  object
 2   Longitud                        14106 non-null  float64
 3   Latitud                         14106 non-null  float64
 4   Direccion                       14106 non-null  object
 5   Fecha_Acc                       14106 non-null  datetime64[ns]
 6   AA_Acc                          14106 non-null  int64
 7   MM_Acc                          14106 non-null  object
 8   DD_Mes_Acc                      14106 non-null  int64
 9   Dia_Semana_Acc                  14106 non-null  object
 10  Hora_Acc                        14106 non-null  int64
 11  Min_Acc                         14106 non-null  int64
 12  Hora_Min_Acc                    14106 non-null  object
 13  Localidad                       14106 non-null  object
 14  Clase_Acc                       14106 non-null  object
 15  Elemento_Choque                 9946 non-null   object
 16  Tipo_Objeto_Fijo                731 non-null    object
 17  Gravedad_Indicador_Tradicional  14106 non-null  object
 18  Gravedad_indicador_30d          14106 non-null  object
 19  Con_Bicicleta                   2149 non-null   object
 20  Con_Carga                       876 non-null    object
 21  Con_Embriaguez                  554 non-null    object
 22  Con_Huecos                      171 non-null    object
 23  Con_Menores                     1325 non-null   object
 24  Con_Moto                        8417 non-null   object
 25  Con_Peaton                      2891 non-null   object
 26  Con_Persona_Mayor               2771 non-null   object
 27  Con_Rutas                       4 non-null      object
 28  Con_Tpi                         1776 non-null   object
 29  Con_Tpp                         2552 non-null   object
 30  Con_Velocidad                   89 non-null     object
 31  Con_Sitp                        2182 non-null   object
 32  Con_Troncal                     264 non-null    object
 33  Con_Alimentador                 193 non-null    object
 34  Con_Zonal                       1729 non-null   object
 35  Con_Provisional                 0 non-null      float64
 36  Con_Articulado                  91 non-null     object
 37  Con_Biarticulado                131 non-null    object
 38  Con_Padron_Dual                 43 non-null     object
 39  Con_Trans_Public                14106 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(5), object(31)
memory usage: 4.3+ MB

In [15]:
vehiculos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24403 entries, 0 to 24402
Data columns (total 30 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Codigo_Accidente              24403 non-null  int64
 1   Formulario                    24403 non-null  object
 2   Fecha_Acc                     24403 non-null  datetime64[ns]
 3   AA_Acc                        24403 non-null  int64
 4   Codigo_Vehiculo               24403 non-null  int64
 5   Clase                         24399 non-null  object
 6   Servicio                      24403 non-null  object
 7   Modalidad                     2505 non-null   object
 8   Vehiculo_Viajaba_Clasificado  24403 non-null  object
 9   Tipo_SITP                     2222 non-null   object
 10  Con_Bicicleta                 4314 non-null   object
 11  Con_Carga                     1718 non-null   object
 12  Con_Embriaguez                1043 non-null   object
 13  Con_Huecos                    255 non-null    object
 14  Con_Menores                   2108 non-null   object
 15  Con_Moto                      15546 non-null  object
 16  Con_Peaton                    3073 non-null   object
 17  Con_Persona_Mayor             4455 non-null   object
 18  Con_Rutas                     8 non-null      object
 19  Con_Tpi                       3569 non-null   object
 20  Con_Tpp                       4090 non-null   object
 21  Con_Velocidad                 138 non-null    object
 22  Con_Sitp                      3371 non-null   object
 23  Con_Troncal                   352 non-null    object
 24  Con_Alimentador               301 non-null    object
 25  Con_Zonal                     2727 non-null   object
 26  Con_Provisional               0 non-null      float64
 27  Con_Articulado                123 non-null    object
 28  Con_Biarticulado              164 non-null    object
 29  Con_Padron_Dual               67 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(3), object(25)
memory usage: 5.6+ MB

In [16]:
actores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33542 entries, 0 to 33541
Data columns (total 42 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Codigo_Accidentado              33542 non-null  int64
 1   Codigo_Accidente                33542 non-null  int64
 2   Formulario                      33542 non-null  object
 3   Codigo_Vehiculo                 33542 non-null  int64
 4   Ccodigo_Victima                 33542 non-null  int64
 5   FechaAcc                        33542 non-null  datetime64[ns]
 6   AnnoAcc                         33542 non-null  int64
 7   mesAcc                          33542 non-null  object
 8   DD_Mes_Acc                      33542 non-null  int64
 9   Dia_Semana_Acc                  33542 non-null  object
 10  hourAcc                         33542 non-null  int64
 11  minuAcc                         33542 non-null  int64
 12  Localidad                       33542 non-null  object
 13  Edad                            32418 non-null  float64
 14  Sexo                            32421 non-null  object
 15  Gravedad_Indicador_Tradicional  33538 non-null  object
 16  Muerte_Posterior                33542 non-null  object
 17  Fecha_CambioGravedad            213 non-null    datetime64[ns]
 18  Gravedad_Indicador_30d          33538 non-null  object
 19  Condicion                       33542 non-null  object
 20  Condicion_Especifica            33542 non-null  object
 21  Tipo_SITP                       3623 non-null   object
 22  Con_Bicicleta                   4702 non-null   object
 23  Con_Carga                       2100 non-null   object
 24  Con_Embriaguez                  1170 non-null   object
 25  Con_Huecos                      339 non-null    object
 26  Con_Menores                     4075 non-null   object
 27  Con_Moto                        20030 non-null  object
 28  Con_Peaton                      6615 non-null   object
 29  Con_Persona_Mayor               7114 non-null   object
 30  Con_Rutas                       29 non-null     object
 31  Con_Tpi                         4645 non-null   object
 32  Con_Tpp                         6397 non-null   object
 33  Con_Velocidad                   202 non-null    object
 34  Con_Sitp                        5371 non-null   object
 35  Con_Troncal                     721 non-null    object
 36  Con_Alimentador                 481 non-null    object
 37  Con_Zonal                       4191 non-null   object
 38  Con_Provisional                 0 non-null      float64
 39  Con_Articulado                  211 non-null    object
 40  Con_Biarticulado                411 non-null    object
 41  Con_Padron_Dual                 107 non-null    object
dtypes: datetime64[ns](2), float64(2), int64(8), object(30)
memory usage: 10.7+ MB

## Estadísticas

In [17]:

siniestros.describe()

,Codigo_Accidente,Longitud,Latitud,Fecha_Acc,AA_Acc,DD_Mes_Acc,Hora_Acc,Min_Acc,Con_Provisional
count,1.410600e+04,14106.000000,14106.000000,14106,14106.0,14106.000000,14106.000000,14106.000000,0.0
mean,1.059305e+07,-74.112613,4.635928,2023-07-01 02:29:51.578051840,2023.0,15.884375,12.755281,25.936835,NaN
min,1.058578e+07,-74.247270,4.043953,2023-01-01 00:00:00,2023.0,1.000000,0.000000,0.000000,NaN
25%,1.058948e+07,-74.140454,4.596117,2023-03-31 00:00:00,2023.0,8.000000,8.000000,10.000000,NaN
50%,1.059305e+07,-74.110264,4.627947,2023-06-29 00:00:00,2023.0,16.000000,13.000000,29.000000,NaN
75%,1.059662e+07,-74.084074,4.678757,2023-09-29 00:00:00,2023.0,24.000000,18.000000,40.000000,NaN
max,1.060248e+07,-74.012266,4.823186,2023-12-31 00:00:00,2023.0,31.000000,23.000000,59.000000,NaN
std,4.122326e+03,0.039632,0.059465,NaN,0.0,8.826856,6.126223,17.460509,NaN

In [18]:
vehiculos.describe()

,Codigo_Accidente,Fecha_Acc,AA_Acc,Codigo_Vehiculo,Con_Provisional
count,2.440300e+04,24403,24403.0,24403.000000,0.0
mean,1.059304e+07,2023-06-30 18:43:07.255665408,2023.0,1.463222,NaN
min,1.058578e+07,2023-01-01 00:00:00,2023.0,1.000000,NaN
25%,1.058948e+07,2023-03-31 00:00:00,2023.0,1.000000,NaN
50%,1.059303e+07,2023-06-28 00:00:00,2023.0,1.000000,NaN
75%,1.059660e+07,2023-09-29 00:00:00,2023.0,2.000000,NaN
max,1.060248e+07,2023-12-31 00:00:00,2023.0,9.000000,NaN
std,4.117147e+03,NaN,0.0,0.593580,NaN

In [19]:
actores.describe()

,Codigo_Accidentado,Codigo_Accidente,Codigo_Vehiculo,Ccodigo_Victima,FechaAcc,AnnoAcc,DD_Mes_Acc,hourAcc,minuAcc,Edad,Fecha_CambioGravedad,Con_Provisional
count,3.354200e+04,3.354200e+04,33542.000000,33542.000000,33542,33542.0,33542.000000,33542.000000,33542.000000,32418.000000,213,0.0
mean,1.286661e+07,1.059306e+07,1.409636,0.905343,2023-07-01 07:37:46.555363328,2023.0,15.885994,12.794526,25.942311,36.102844,2023-07-14 13:51:32.957746432,NaN
min,1.284929e+07,1.058578e+07,1.000000,0.000000,2023-01-01 00:00:00,2023.0,1.000000,0.000000,0.000000,0.000000,2023-01-05 00:00:00,NaN
25%,1.285814e+07,1.058949e+07,1.000000,0.000000,2023-03-31 00:00:00,2023.0,8.000000,8.000000,10.000000,24.000000,2023-04-20 00:00:00,NaN
50%,1.286663e+07,1.059308e+07,1.000000,1.000000,2023-06-30 00:00:00,2023.0,16.000000,13.000000,29.000000,32.000000,2023-07-06 00:00:00,NaN
75%,1.287509e+07,1.059664e+07,2.000000,1.000000,2023-09-29 00:00:00,2023.0,24.000000,18.000000,40.000000,45.750000,2023-10-15 00:00:00,NaN
max,1.289310e+07,1.060248e+07,9.000000,44.000000,2023-12-31 00:00:00,2023.0,31.000000,23.000000,59.000000,112.000000,2024-03-03 00:00:00,NaN
std,9.807164e+03,4.129429e+03,0.571779,1.498899,NaN,0.0,8.802146,6.123024,17.434718,15.553848,NaN,NaN

## Nulos

In [20]:

siniestros.isnull().sum()

Codigo_Accidente                      0
Formulario                            0
Longitud                              0
Latitud                               0
Direccion                             0
Fecha_Acc                             0
AA_Acc                                0
MM_Acc                                0
DD_Mes_Acc                            0
Dia_Semana_Acc                        0
Hora_Acc                              0
Min_Acc                               0
Hora_Min_Acc                          0
Localidad                             0
Clase_Acc                             0
Elemento_Choque                    4160
Tipo_Objeto_Fijo                  13375
Gravedad_Indicador_Tradicional        0
Gravedad_indicador_30d                0
Con_Bicicleta                     11957
Con_Carga                         13230
Con_Embriaguez                    13552
Con_Huecos                        13935
Con_Menores                       12781
Con_Moto                           5689
Con_Peaton                        11215
Con_Persona_Mayor                 11335
Con_Rutas                         14102
Con_Tpi                           12330
Con_Tpp                           11554
Con_Velocidad                     14017
Con_Sitp                          11924
Con_Troncal                       13842
Con_Alimentador                   13913
Con_Zonal                         12377
Con_Provisional                   14106
Con_Articulado                    14015
Con_Biarticulado                  13975
Con_Padron_Dual                   14063
Con_Trans_Public                      0
dtype: int64

In [21]:
vehiculos.isnull().sum()

Codigo_Accidente                    0
Formulario                          0
Fecha_Acc                           0
AA_Acc                              0
Codigo_Vehiculo                     0
Clase                               4
Servicio                            0
Modalidad                       21898
Vehiculo_Viajaba_Clasificado        0
Tipo_SITP                       22181
Con_Bicicleta                   20089
Con_Carga                       22685
Con_Embriaguez                  23360
Con_Huecos                      24148
Con_Menores                     22295
Con_Moto                         8857
Con_Peaton                      21330
Con_Persona_Mayor               19948
Con_Rutas                       24395
Con_Tpi                         20834
Con_Tpp                         20313
Con_Velocidad                   24265
Con_Sitp                        21032
Con_Troncal                     24051
Con_Alimentador                 24102
Con_Zonal                       21676
Con_Provisional                 24403
Con_Articulado                  24280
Con_Biarticulado                24239
Con_Padron_Dual                 24336
dtype: int64

In [22]:
actores.isnull().sum()

Codigo_Accidentado                    0
Codigo_Accidente                      0
Formulario                            0
Codigo_Vehiculo                       0
Ccodigo_Victima                       0
FechaAcc                              0
AnnoAcc                               0
mesAcc                                0
DD_Mes_Acc                            0
Dia_Semana_Acc                        0
hourAcc                               0
minuAcc                               0
Localidad                             0
Edad                               1124
Sexo                               1121
Gravedad_Indicador_Tradicional        4
Muerte_Posterior                      0
Fecha_CambioGravedad              33329
Gravedad_Indicador_30d                4
Condicion                             0
Condicion_Especifica                  0
Tipo_SITP                         29919
Con_Bicicleta                     28840
Con_Carga                         31442
Con_Embriaguez                    32372
Con_Huecos                        33203
Con_Menores                       29467
Con_Moto                          13512
Con_Peaton                        26927
Con_Persona_Mayor                 26428
Con_Rutas                         33513
Con_Tpi                           28897
Con_Tpp                           27145
Con_Velocidad                     33340
Con_Sitp                          28171
Con_Troncal                       32821
Con_Alimentador                   33061
Con_Zonal                         29351
Con_Provisional                   33542
Con_Articulado                    33331
Con_Biarticulado                  33131
Con_Padron_Dual                   33435
dtype: int64

##Observaciones preliminares

- El dataset contiene tres tablas principales relacionadas con siniestros, vehículos y actores viales.
- Se identifican múltiples columnas categóricas.
- Existen valores nulos en varias variables, particularmente en campos categóricos.
- Será necesario revisar la consistencia de tipos de datos, especialmente en variables de fecha.